<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLE</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body class="bg-dark">
  <h1 class="text-center text-light my-5">Personal Data</h1>
  <div class="container-fluid px-5">
    <table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Place</th>
      <th scope="col">Qualification</th>
    </tr>
  </thead>
  <tbody>
    {{#each person}}
    <tr>
      <th scope="row">{{this.Number}} </th>
      <td>{{this.Name}} </td>
      <td>{{this.Age}}</td>
      <td>{{this.Qualification}}</td>
      <td>{{this.Place}}</td>
    </tr>
    {{/each}}
  </div>
    {{!-- <tr>
      <th scope="row">2</th>
      <td>Usama</td>
      <td>21</td>
      <td>BCA</td>
      <td>Kondotty</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Irfana</td>
      <td>25</td>
      <td>BA</td>
      <td>Chemmad</td>
    </tr> --}}
  </tbody>
</table>
    
</body>
</html>